.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
}

.App>* {
  flex: 1;
}

.worker-area {
  display: flex;
  flex-wrap: wrap;
  background: #607D8B;
}

.worker-area>* {
  flex: 1;
  text-align: center;
}

.worker {
  background: #FF9800;
}

.cycle-area {
  position: relative;
  width: 100%;
  padding: 25px 0;
  background: #e7e7e7;
}

.cycle-image {
    position: relative;
}

.cycle-image img {
  width: 100px;
}

footer {
  background: #333;
}